
- var $templateName = '';
- var $templateClass = '';
block vars

doctype
html(xmlns='http://www.w3.org/1999/xhtml', xmlns:vtex='http://www.vtex.com.br/2009/vtex-common', xmlns:vtex.cmc='http://www.vtex.com.br/2009/vtex-commerce', lang='pt-br')
  head
    //- SEO
    vtex:metaTags/
    meta(name="viewport" content="width=device-width, initial-scale=1.0")/
    //- Styles
    block styles
    //- Theme Styles/Scripts
    vtex:template(id=`Global-Styles`)/

    block richSnippetsHead

  body
    vtex:template(id=`Header`)/
    //- Main Content
    main(role='main', class=`${$templateClass}-main`)
      block content
    //- Footer
    block footer
      vtex:template(id=`Footer`)/
    //- Scripts
    block scripts
      vtex:template(id=`Global-Scripts`)/
